:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --address-link-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.site-nav-list,
.auth-nav-list,
.feature-list,
.work-list,
.team-list,
.address-list,
.filter-list,
.portfolio-list {
  list-style: none;
}
.logo-link,
.site-nav-link,
.auth-nav-link,
.address-link,
.portfolio-link {
  text-decoration: none;
}
.logo-web,
.logo-studio,
.footer-logo-studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: #000000;
}
/*nav*/

.site-nav-link,
.auth-nav-link,
.address-link {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.site-nav-link {
  color: var(--primary-text-color);
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-link.current {
  color: var(--accent-color);
}
.auth-nav-link {
  color: var(--secondary-text-color);
}

.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--accent-color);
}

/*the hero*/
.hero {
  background-color: #2f303a;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn-primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #188ce8;
}
/* the main section*/
.section-subtitle {
  color: var(--primary--text-color);
  font-weight: 700;
  text-transform: uppercase;
}
.section-text,
.address-text {
  line-height: 1.71;
}

.section-text {
  color: var(--secondary-text-color);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.section-team {
  background-color: var(--secondary-bg-color);
}

/*portfolio filters*/

.btn-secondary {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/*portfolio projects*/
.portfolio-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

/*footer*/
.footer {
  background-color: #2f303a;
}
.footer-logo-studio {
  color: var(--primary-white-color);
}
.address-text {
  color: var(--primary-white-color);
  font-style: normal;
}
.address-link {
  color: var(--address-link-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
